<h1>Photos</h1>
<div class = "imgcont">
<%= image_tag "78a Berkeley St SPEERS POINT 02 LR.jpg", class: "photo-image" %>
<%= image_tag "78a Berkeley St SPEERS POINT 04 LR.jpg", class: "photo-image" %>
<%= image_tag "78a Berkeley St SPEERS POINT 05 LR.jpg", class: "photo-image" %>
<%= image_tag "78a Berkeley St SPEERS POINT 06 LR.jpg", class: "photo-image" %>
<%= image_tag "78a Berkeley St SPEERS POINT 07 LR.jpg", class: "photo-image" %>
<%= image_tag "78a Berkeley St SPEERS POINT 08 LR.jpg", class: "photo-image" %>
<%= image_tag "78A Berkeley St SPEERS POINT 10 LR.jpg", class: "photo-image" %>
<%= image_tag "78A Berkeley St SPEERS POINT 11 LR.jpg", class: "photo-image" %>
<%= image_tag "78A Berkeley St SPEERS POINT 13 LR.jpg", class: "photo-image" %>
</div>