
<div class="jumbotron">
<div class="row">
<div class="col-md-6">
 <h1 class="display-4">LakeView Retreat</h1>
  <p class="lead">Renting with ease.</p>
  <hr class="my-4">
  <p class="lead">
  <%# <%= link_to "Add Places", new_place_path, class: "btn btn-primary btn-lg" %> 
  <%= link_to "List of Places", places_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Listing 1 Details", href= "http://127.0.0.1:3000/places/1", class: "btn btn-primary btn-lg" %>
  <%= link_to "Listing 2 Details ", href= "http://127.0.0.1:3000/places/2", class: "btn btn-primary btn-lg" %>
  </p>   
</div>
<div class="col-md-6">
<%= image_tag "lake", class: "home-image" %>
</div>
  
</div>
    
    
</div>
