<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.price %>
</p>

<p>
 <strong>Sold:</strong>
 <%= @place.sold %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @place.availability %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @place.user.email %>
</p>

<p>
<%= image_tag @place.picture%>
</p>

<button data-stripe="payment">
Buy Now!
</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      )

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    })
</script>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
