<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.price %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @place.availability %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @place.user.email %>
</p>

<p>
<%= image_tag @place.picture%>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
